<main class="main pages mb-80">

  <div class="page-content pt-50">
    <div class="container">
      <div class="container mb-30">
        <div class="row">
            <div class="col-xl-11 col-lg-12 m-auto">
                <div class="row">
                    <div class="col-xl-9">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50 mt-30">
                                <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                                    <div class="detail-gallery">

                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img style="width: 150%; height: 150%;" class="default-img" [src]="'http://localhost:8080/uploads/' + event.image" alt="" />
                                            </figure>

                                        </div>

                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info pr-30 pl-30">
                                        <span class="stock-status in-stock" *ngIf="!isEventFull"> {{event.nbPlaces - numberOfParticipants}} Places available  </span>
                                        <span class="stock-status out-stock" *ngIf="isEventFull"> Event is Full </span>

                                        <h2 class="title-detail">{{ event.titre }}</h2>
                                        <div class="product-detail-rating">
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating"[style]="'width:'+(event.rate/5)*100+'%'"></div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> ({{event.rate}})</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <span class="current-price text-brand">{{event.prix}} DT</span>

                                            </div>
                                        </div>
                                        <div class="short-desc mb-30">
                                            <p class="font-lg">{{event.description}} </p>
                                            <ul class="mr-50 float-start">
                                              <li class="mb-5">Date: <span class="text-brand">{{ event.date | date: 'EEEE MM LLLL yyyy' }}</span></li>
                                              <ng-container
                                                *ngTemplateOutlet="checkEventType(event.type) ? enligne : presentiel ; context: { passdata:event}">
                                              </ng-container>



                  <ng-template #enligne let-info="passdata">
                 <li class="mb-5" *ngIf="isUserParticipant">Location / URL :<span class="text-brand"><a target="_blank" [attr.href]="info.localisation">{{ info.localisation }}</a></span></li>


                  </ng-template>

                  <ng-template #presentiel let-info="passdata">
                                   <li class="mb-5" *ngIf="isUserParticipant">Location / URL :<span class="text-brand">{{ event.localisation }}</span></li>


                  </ng-template>

                                          </ul>
                                        </div>


                                        <div class="detail-extralink ">

                                            <div class="product-extra-link2">
                                                <button type="submit" class="form-group btn btn-heading btn-block hover-up" (click)="participate()" [hidden]="isUserParticipant===true" [disabled]="isEventFull===true || isUserParticipant===true">Participate</button>
                                                <button style="background-color: #940007;"  type="button" class="form-group btn btn-heading btn-block hover-up Colorful" (click)="skipEvent()"  *ngIf="isUserParticipant === true">Skip Event</button>

                                              </div>
                                        </div>

                                    </div>
                                    <!-- Detail Info -->
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
              </div>
              </div>
</main>
