<app-sidebar></app-sidebar>
<main class="main-wrap ">
    <header class="main-header navbar ">
        <div class="col-search ">
            <form class="searchform ">
                <div class="input-group ">
                    <input list="search_terms " type="text " class="form-control " placeholder="Search term " />
                    <button class="btn btn-light bg " type="button "><i class="material-icons md-search "></i></button>
                </div>
                <datalist id="search_terms ">
                    <option value="Products "></option>
                    <option value="New orders "></option>
                    <option value="Apple iphone "></option>
                    <option value="Ahmed Hassan "></option>
                </datalist>
            </form>
        </div>
        <div class="col-nav ">
            <button class="btn btn-icon btn-mobile me-auto " data-trigger="#offcanvas_aside "><i
                    class="material-icons md-apps "></i></button>
            <ul class="nav ">
                <li class="nav-item ">
                    <a class="nav-link btn-icon " href="# ">
                        <i class="material-icons md-notifications animation-shake "></i>
                        <span class="badge rounded-pill ">3</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link btn-icon darkmode " href="# "> <i class="material-icons md-nights_stay "></i>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="requestfullscreen nav-link btn-icon "><i
                            class="material-icons md-cast "></i></a>
                </li>
                <li class="dropdown nav-item ">
                    <a class="dropdown-toggle " data-bs-toggle="dropdown " href="# " id="dropdownLanguage " aria-expanded="false "><i class="material-icons md-public "></i></a>
                    <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownLanguage ">
                        <a class="dropdown-item text-brand " href="# "><img src="assets/imgs/theme/flag-us.png " alt="English " />English</a>
                        <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-fr.png " alt="Français " />Français</a>
                        <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-jp.png " alt="Français " />日本語</a>
                        <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-cn.png " alt="Français " />中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item ">
                    <a class="dropdown-toggle " data-bs-toggle="dropdown " href="# " id="dropdownAccount " aria-expanded="false "> <img class="img-xs rounded-circle " src="assets/imgs/people/avatar-2.png " alt="User " /></a>
                    <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownAccount ">
                        <a class="dropdown-item " href="# "><i class="material-icons md-perm_identity "></i>Edit
                            Profile</a>
                        <a class="dropdown-item " href="# "><i class="material-icons md-settings "></i>Account
                            Settings</a>
                        <a class="dropdown-item " href="# "><i
                                class="material-icons md-account_balance_wallet "></i>Wallet</a>
                        <a class="dropdown-item " href="# "><i class="material-icons md-receipt "></i>Billing</a>
                        <a class="dropdown-item " href="# "><i class="material-icons md-help_outline "></i>Help
                            center</a>
                        <div class="dropdown-divider "></div>
                        <a class="dropdown-item text-danger " href="# "><i
                                class="material-icons md-exit_to_app "></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main ">
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Users</h6>
                            <span>{{totalUsers}}</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Clients</h6>
                            <span>{{totalClients}}</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Marchants</h6>
                            <span>{{totalMarchants}}</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Admins</h6>
                            <span>{{totalAdmins}}</span>
                        </div>
                    </article>
                </div>
            </div>
        </div>


        <div class="content-header">

            <h2 class="content-title">Sellers list</h2>
            <div>
                <a class="btn btn-primary" routerLink="/add_seller"><i routerLink="add_seller"
                        class="material-icons md-plus"></i> Create new</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                            <option>Show all</option>
                        </select>
                    </div>

                </div>
            </header>

            <div class="card-body">

                <div class="table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Email</th>
                                <th>Number</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            <tr *ngFor="let seller of sellerDetails">

                                <td>{{seller.username}}</td>
                                <td>{{seller.email}}</td>
                                <td>{{seller.phone_number}}</td>
                                <td>{{seller.active}}</td>
                                <td><button type="button" class="btn btn-primary" (click)="openForm(seller)" data-toggle="modal" data-target="#exampleModal" (click)="edit(seller)">Edit</button></td>
                                <td><button type="button" class="btn btn-danger" (click)="deleteSeller(seller)">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="form-wrapper" *ngIf="showForm">
                    <div class="mobileForm">
                        <div class="group">
                            <label for="mobile">id</label>
                            <input readonly type="text" class="form-control" [(ngModel)]="studentToUpdate.id" name="id" required minlength="5">
                        </div>
                        <div class="group">
                            <label for="mobile">Username</label>
                            <input type="text" class="form-control" [(ngModel)]="studentToUpdate.username" name="username" required minlength="5">
                        </div>
                        <div class="group">
                            <label for="mobile">Email</label>
                            <input type="text" class="form-control" [(ngModel)]="studentToUpdate.email" name="email" required minlength="5">
                        </div>
                        <div class="group">
                            <label for="ram">Phone Number</label>
                            <input type="number" class="form-control" [(ngModel)]="studentToUpdate.phone_number" name="phone_number" required min="1">
                        </div>
                        <div class="group">
                            <label for="ram">Active</label>
                            <input type="number" class="form-control" [(ngModel)]="studentToUpdate.active" name="active" required min="1">
                        </div>


                        <div class="action">
                            <button class="btn btn-primary save" (click)="updateUser()">Save Changes</button>
                            <button class="btn btn-danger cancel" (click)="closeForm()">Cacel</button>
                        </div>
                    </div>
                </div>



            </div>

        </div>


    </section>


    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <br>
    <br>
    <br>

    <!-- content-main end// -->
    <footer class="main-footer font-xs ">
        <div class="row pb-30 pt-15 ">
            <div class="col-sm-6 ">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6 ">
                <div class="text-sm-end ">All rights reserved</div>
            </div>
        </div>
    </footer>
</main>
