<main class="main">
  <div class="page-content mb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 m-auto">
          <div class="single-page pt-50 pr-30">
            <div class="single-header style-2">
              <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                  <h6 class="mb-10"><a href="#">Recipes</a></h6>
                  <h2 class="mb-10">{{article.title}}</h2>
                  <div class="single-header-meta">
                    <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                      <a class="author-avatar" href="#">
                        <img class="img-circle" src="assets/imgs/blog/author-1.png" alt="">
                      </a>
                      <span class="post-by">By <a href="#">Sugar Rosie</a></span>
                      <span class="post-on has-dot">{{article.posted}}</span>
                      <!-- <span class="time-reading has-dot">8 mins read</span> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <figure class="single-thumbnail"> -->
            <!--   <img src="assets/imgs/blog/blog-19.png" alt=""> -->
            <!-- </figure> -->
            <div class="single-content">
              {{article.content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
