<app-sidebar></app-sidebar>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                    <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Stores"></option>
                    <option value="New orders"></option>
                    <option value="Apple iphone"></option>
                    <option value="Ahmed Hassan"></option>
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                    class="material-icons md-apps"></i></button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" routerLink="">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" routerLink=""> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a routerLink="" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" routerLink="" id="dropdownLanguage"
                        aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" routerLink=""><img src="assets/imgs/theme/flag-us.png"
                                alt="English" />English</a>
                        <a class="dropdown-item" routerLink=""><img src="assets/imgs/theme/flag-fr.png"
                                alt="Français" />Français</a>
                        <a class="dropdown-item" routerLink=""><img src="assets/imgs/theme/flag-jp.png"
                                alt="Français" />日本語</a>
                        <a class="dropdown-item" routerLink=""><img src="assets/imgs/theme/flag-cn.png"
                                alt="Français" />中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" routerLink="" id="dropdownAccount"
                        aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png"
                            alt="User" /></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" routerLink=""><i class="material-icons md-perm_identity"></i>Edit
                            Profile</a>
                        <a class="dropdown-item" routerLink=""><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" routerLink=""><i
                                class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" routerLink=""><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" routerLink=""><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" routerLink=""><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="row">

            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Store</h2>
                    <div>
                        <button routerLink="/stores" class="btn btn-light rounded font-sm mr-5 text-body hover-up">Return</button>
                        <button class="btn btn-md rounded font-sm hover-up" type="submit" form="add-store">Publish</button>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Banner</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="assets/imgs/theme/upload.svg" alt="" />
                            <input class="form-control" form="add-store" type="file" accept="image/*" name="banner" id="banner" (change)="saveBanner($event)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form id="add-store" (ngSubmit)="submitForm()">
                            <div class="mb-4">
                                <label for="Store_name" class="form-label">Store name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="Store_name" [(ngModel)]="store.name" [ngModelOptions]="{standalone: true}" />
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Store description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" [(ngModel)]="store.description" [ngModelOptions]="{standalone: true}" ></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- card end// -->
                <!-- card end// -->
            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Logo</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                            <img src="assets/imgs/theme/upload.svg" alt="" />
                            <input class="form-control" type="file" id="logo" name="logo" accept="image/*" (change)="saveLogo($event)" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- content-main end// -->
    <app-footer></app-footer>
</main>