<app-sidebar></app-sidebar>
<main class="main-wrap ">
    <header class="main-header navbar ">
        <div class="col-search ">
            <form class="searchform ">
                <div class="input-group ">
                    <input list="search_terms " type="text " class="form-control " placeholder="Search term " />
                    <button class="btn btn-light bg " type="button "><i class="material-icons md-search "></i></button>
                </div>
                <datalist id="search_terms ">
                    <option value="Products "></option>
                    <option value="New orders "></option>
                    <option value="Apple iphone "></option>
                    <option value="Ahmed Hassan "></option>
                </datalist>
            </form>
        </div>
        <div class="col-nav ">
            <button class="btn btn-icon btn-mobile me-auto " data-trigger="#offcanvas_aside "><i
                    class="material-icons md-apps "></i></button>
            <ul class="nav ">
                <li class="nav-item ">
                    <a class="nav-link btn-icon " href="# ">
                        <i class="material-icons md-notifications animation-shake "></i>
                        <span class="badge rounded-pill ">3</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link btn-icon darkmode " href="# "> <i class="material-icons md-nights_stay "></i>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="# " class="requestfullscreen nav-link btn-icon "><i
                            class="material-icons md-cast "></i></a>
                </li>
                <li class="dropdown nav-item ">
                    <a class="dropdown-toggle " data-bs-toggle="dropdown " href="# " id="dropdownLanguage " aria-expanded="false "><i class="material-icons md-public "></i></a>
                    <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownLanguage ">
                        <a class="dropdown-item text-brand " href="# "><img src="assets/imgs/theme/flag-us.png " alt="English " />English</a>
                        <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-fr.png " alt="Français " />Français</a>
                        <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-jp.png " alt="Français " />日本語</a>
                        <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-cn.png " alt="Français " />中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item ">
                    <a class="dropdown-toggle " data-bs-toggle="dropdown " href="# " id="dropdownAccount " aria-expanded="false "> <img class="img-xs rounded-circle " src="assets/imgs/people/avatar-2.png " alt="User " /></a>
                    <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownAccount ">
                        <a class="dropdown-item " href="# "><i class="material-icons md-perm_identity "></i>Edit
                            Profile</a>
                        <a class="dropdown-item " href="# "><i class="material-icons md-settings "></i>Account
                            Settings</a>
                        <a class="dropdown-item " href="# "><i
                                class="material-icons md-account_balance_wallet "></i>Wallet</a>
                        <a class="dropdown-item " href="# "><i class="material-icons md-receipt "></i>Billing</a>
                        <a class="dropdown-item " href="# "><i class="material-icons md-help_outline "></i>Help
                            center</a>
                        <div class="dropdown-divider "></div>
                        <a class="dropdown-item text-danger " href="# "><i
                                class="material-icons md-exit_to_app "></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main ">
        <div class="row">
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Users</h6>
                            <span>{{totalUsers}}</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Clients</h6>
                            <span>{{totalClients}}</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Marchants</h6>
                            <span>{{totalMarchants}}</span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-body mb-4">
                    <article class="icontext">
                        <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                        <div class="text">
                            <h6 class="mb-1 card-title">Admins</h6>
                            <span>{{totalAdmins}}</span>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <canvas #pieChart></canvas>


    </section>


    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <br>
    <br>
    <br>

    <!-- content-main end// -->
    <footer class="main-footer font-xs ">
        <div class="row pb-30 pt-15 ">
            <div class="col-sm-6 ">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6 ">
                <div class="text-sm-end ">All rights reserved</div>
            </div>
        </div>
    </footer>
</main>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/assets/backTemplate/css/tailwind.output.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<script src="/assets/backTemplate/js/init-alpine.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
<script src="/assets/backTemplate/js/charts-lines.js" defer></script>
<script src="/assets/backTemplate/js/charts-pie.js" defer></script>