<main class="main">
    <div class="page-header mt-30 mb-75">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                        <h1 class="mb-15">Blog</h1>
                    </div>
                    <div class="col-xl-9 text-end d-none d-xl-block">
                        <ul class="tags-list">
                            <li class="hover-up">
                                <a routerLink="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Shopping</a>
                            </li>
                            <li class="hover-up active">
                                <a routerLink="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Recipes</a>
                            </li>
                            <li class="hover-up">
                                <a routerLink="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Kitchen</a>
                            </li>
                            <li class="hover-up">
                                <a routerLink="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>News</a>
                            </li>
                            <li class="hover-up mr-0">
                                <a routerLink="blog-category-grid.html"><i class="fi-rs-cross mr-10"></i>Food</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="shop-product-fillter mb-50 pr-30">
                        <div class="totall-product">
                            <h2>
                                <img class="w-36px mr-10" src="assets/imgs/theme/icons/category-1.svg" alt="" />
                                Articles
                            </h2>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" routerLink="#">50</a></li>
                                        <li><a routerLink="#">100</a></li>
                                        <li><a routerLink="#">150</a></li>
                                        <li><a routerLink="#">200</a></li>
                                        <li><a routerLink="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span>Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" routerLink="#">Featured</a></li>
                                        <li><a routerLink="#">Newest</a></li>
                                        <li><a routerLink="#">Most comments</a></li>
                                        <li><a routerLink="#">Release Date</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="loop-grid loop-list pr-30 mb-50">
                      <article class="wow fadeIn animated hover-up mb-30 animated">
                        <div class="post-thumb" style="background-image: url(assets/imgs/blog/blog-2.png)"></div>
                        <div class="entry-content-2 pl-50">
                          <h3 class="post-title mb-20">
                            <a routerLink="/article">The Easy Italian Chicken Dinner I Make Over and Over Again</a>
                          </h3>
                          <p class="post-exerpt mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                          <div class="entry-meta meta-1 font-xs color-grey mt-10 pb-10">
                            <div>
                              <span class="post-on">25 April 2022</span>
                              <span class="hit-count has-dot">126k Views</span>
                            </div>
                            <a routerLink="/article" class="text-brand font-heading font-weight-bold">Read more <i class="fi-rs-arrow-right"></i></a>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item">
                                    <a class="page-link" routerLink="#"><i class="fi-rs-arrow-small-left"></i></a>
                                </li>
                                <li class="page-item"><a class="page-link" routerLink="#">1</a></li>
                                <li class="page-item active"><a class="page-link" routerLink="#">2</a></li>
                                <li class="page-item"><a class="page-link" routerLink="#">3</a></li>
                                <li class="page-item"><a class="page-link dot" routerLink="#">...</a></li>
                                <li class="page-item"><a class="page-link" routerLink="#">6</a></li>
                                <li class="page-item">
                                    <a class="page-link" routerLink="#"><i class="fi-rs-arrow-small-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
