.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.img-banner{
    /* background-position: center;
    background-size: cover; */
}