<app-sidebar></app-sidebar>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                    <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products"></option>
                    <option value="New orders"></option>
                    <option value="Apple iphone"></option>
                    <option value="Ahmed Hassan"></option>
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                    class="material-icons md-apps"></i></button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" routerLink="">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" routerLink=""> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a  class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" routerLink="" id="dropdownLanguage"
                        aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" routerLink=""><img src="assets/imgs/theme/flag-us.png"
                                alt="English" />English</a>
                        <a class="dropdown-item" routerLink=""><img src="assets/imgs/theme/flag-fr.png"
                                alt="Français" />Français</a>
                        <a class="dropdown-item" routerLink=""><img src="assets/imgs/theme/flag-jp.png"
                                alt="Français" />日本語</a>
                        <a class="dropdown-item" routerLink=""><img src="assets/imgs/theme/flag-cn.png"
                                alt="Français" />中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" routerLink="" id="dropdownAccount"
                        aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png"
                            alt="User" /></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" routerLink="/edit-store/{{store.id}}"><i class="material-icons md-perm_identity"></i>Edit
                            Profile</a>
                        <a class="dropdown-item" routerLink=""><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" routerLink=""><i
                                class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" routerLink=""><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" routerLink=""><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" routerLink=""><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <div class="content-header">
            <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
        </div>
        <div class="card mb-4">
            <div class="card-header bg-brand-2" style="height: 150px;background-image: url({{store.storeImage}});"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl col-lg flex-grow-0" style="flex-basis: 230px">
                        <div class="img-thumbnail shadow w-100 bg-white position-relative text-center"
                            style="height: 190px; width: 200px; margin-top: -120px">
                            <img src={{store.logo}} class="center-xy img-fluid img-banner" alt="Logo Brand" />
                        </div>
                    </div>
                    <!--  col.// -->
                    <div class="col-xl col-lg">
                        <h3>{{store.name || "Undefined"}}</h3>
                        <p>{{store.description || "3891 Ranchview Dr. Richardson, California 62639"}}</p>
                        <!-- <p>{{store.address || "3891 Ranchview Dr. Richardson, California 62639"}}</p> -->
                    </div>
                    <!--  col.// -->
                    <div class="col-xl-4 text-md-end">
                        <a routerLink="/edit-store/{{store.id}}" class="btn btn-primary m-2"> Edit<i class="material-icons md-edit"></i> </a>
                        <a routerLink="/add-product/{{store.id}}" class="btn btn-primary"> Add Product </a>
                    </div>
                    <!--  col.// -->
                </div>
                <!-- card-body.// -->
                <hr class="my-4" />
                <div class="row g-4">
                    <div class="col-md-12 col-lg-4 col-xl-2">
                        <article class="box">
                            <p class="mb-0 text-muted">Total sales:</p>
                            <h5 class="text-success">238</h5>
                            <p class="mb-0 text-muted">Revenue:</p>
                            <h5 class="text-success mb-0">$2380</h5>
                        </article>
                    </div>
                    <!--  col.// -->
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <h6>Contacts</h6>
                        <p>
                            Manager: Jerome Bell <br />
                            info@example.com <br />
                            (229) 555-0109, (808) 555-0111
                        </p>
                    </div>
                    <!--  col.// -->
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                        <h6>Address</h6>
                        <p>
                            Country: California <br />
                            Address: Ranchview Dr. Richardson <br />
                            Postal code: 62639
                        </p>
                    </div>
                    <!--  col.// -->
                    <div class="col-sm-6 col-xl-4 text-xl-end">
                        <map class="mapbox position-relative d-inline-block">
                            <img src="assets/imgs/misc/map.jpg" class="rounded2" height="120" alt="map" />
                            <span class="map-pin" style="top: 50px; left: 100px"></span>
                            <button
                                class="btn btn-sm btn-brand position-absolute bottom-0 end-0 mb-15 mr-15 font-xs">Large</button>
                        </map>
                    </div>
                    <!--  col.// -->
                </div>
                <!--  row.// -->
            </div>
            <!--  card-body.// -->
        </div>
        <!--  card.// -->
        <div class="card mb-4">
            <div class="card-body">
                <h3 class="card-title">Products by seller</h3>
                <div class="row">
                    <div *ngFor="let product of store.products " class="col-xl-2 col-lg-3 col-md-6">
                        <div class="card card-product-grid">
                            <a routerLink="/edit-product/{{store.id}}/{{product.id}}" class="img-wrap"> <img src={{product.imageUrls[0]}} alt="Product" /> </a>
                            <div class="info-wrap">
                                <a routerLink="/edit-product/{{store.id}}/{{product.id}}" class="title">{{product.name||"undefined"}}</a>
                                <div class="price mt-1">${{product.price || 0}}</div>
                                <!-- price-wrap.// -->
                                <div class="button-container"> 
                                    <a routerLink="/edit-product/{{store.id}}/{{product.id}}" class="btn btn-primary btn-sm mt-2"> <i
                                            class="material-icons md-edit"></i> </a>
                                    <button (click)="deleteProduct(product.id)" class="btn btn-danger btn-sm mt-2"> <i
                                            class="material-icons md-delete"></i> </button>
                                </div>
                            </div>
                        </div>
                        <!-- card-product  end// -->
                    </div>
                    <!-- col.// -->
                </div>
                <!-- row.// -->
            </div>
            <!--  card-body.// -->
        </div>
        <!--  card.// -->
    </section>
    <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear());
                </script>
                &copy; Nest - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">All rights reserved</div>
            </div>
        </div>
    </footer>
</main>