<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>

    </aside>
    <main class="main-wrap ">
        <header class="main-header navbar ">
            <div class="col-search main-section my-10">
                <form class="searchform ">
                    <div class="input-group ">
                        <input list="search_terms " type="text " class="form-control " placeholder="Search term " />
                        <button class="btn btn-light bg " type="button "><i class="material-icons md-search "></i></button>
                    </div>
                    <datalist id="search_terms ">
                      <option value="Products "></option>
                      <option value="New orders "></option>
                      <option value="Apple iphone "></option>
                      <option value="Ahmed Hassan "></option>
                  </datalist>
                </form>
            </div>
            <div class="col-nav ">
                <button class="btn btn-icon btn-mobile me-auto " data-trigger="#offcanvas_aside "><i class="material-icons md-apps "></i></button>
                <ul class="nav ">
                    <li class="nav-item ">
                        <a class="nav-link btn-icon " href="# ">
                            <i class="material-icons md-notifications animation-shake "></i>
                            <span class="badge rounded-pill ">3</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link btn-icon darkmode " href="# "> <i class="material-icons md-nights_stay "></i> </a>
                    </li>
                    <li class="nav-item ">
                        <a href="# " class="requestfullscreen nav-link btn-icon "><i class="material-icons md-cast "></i></a>
                    </li>
                    <li class="dropdown nav-item ">
                        <a class="dropdown-toggle " data-bs-toggle="dropdown " href="# " id="dropdownLanguage " aria-expanded="false "><i class="material-icons md-public "></i></a>
                        <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownLanguage ">
                            <a class="dropdown-item text-brand " href="# "><img src="assets/imgs/theme/flag-us.png " alt="English " />English</a>
                            <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-fr.png " alt="Français " />Français</a>
                            <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-jp.png " alt="Français " />日本語</a>
                            <a class="dropdown-item " href="# "><img src="assets/imgs/theme/flag-cn.png " alt="Français " />中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item ">
                        <a class="dropdown-toggle " data-bs-toggle="dropdown " href="# " id="dropdownAccount " aria-expanded="false "> <img class="img-xs rounded-circle " src="assets/imgs/people/avatar-2.png " alt="User " /></a>
                        <div class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownAccount ">
                            <a class="dropdown-item " href="# "><i class="material-icons md-perm_identity "></i>Edit Profile</a>
                            <a class="dropdown-item " href="# "><i class="material-icons md-settings "></i>Account Settings</a>
                            <a class="dropdown-item " href="# "><i class="material-icons md-account_balance_wallet "></i>Wallet</a>
                            <a class="dropdown-item " href="# "><i class="material-icons md-receipt "></i>Billing</a>
                            <a class="dropdown-item " href="# "><i class="material-icons md-help_outline "></i>Help center</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item text-danger " href="# "><i class="material-icons md-exit_to_app "></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main ">





            <h1> Formulaire ticket : </h1>
            <div *ngIf="badword===true" class="alert alert-danger" role="alert">
                bad words detected in description fields please remove it 
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Enter title" [ngClass]="{ 'is-invalid': submitted && f['title'].errors }" [(ngModel)]="ticket.title" name="title" formControlName="title">
                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                        <div *ngIf="f['title'].errors['required']">Title is required</div>
                    </div>
                </div>



                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" aria-describedby="description" placeholder="Enter description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" [(ngModel)]="ticket.description" name="description" formControlName="description">
                    <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                        <div *ngIf="f['description'].errors['required']">description is required</div>
                    </div>
                </div>






                <div class="form-group">
                    <label for="creationDate">Date Envoi</label>
                    <input type="date" class="form-control" id="creationDate" aria-describedby="creationDate" placeholder="Enter creationDate" [ngClass]="{ 'is-invalid': submitted && f['creationDate'].errors }" [(ngModel)]="ticket.creationDate" name="creationDate" formControlName="creationDate">
                    <div *ngIf="submitted && f['creationDate'].errors" class="invalid-feedback">
                        <div *ngIf="f['creationDate'].errors['required']">creationDate is required</div>
                    </div>
                </div>

                
                


                




                <div class="form-group">
                    <label for="type">Type</label>


                    <select class="form-select" [(ngModel)]="ticket.type" [ngClass]="{ 'is-invalid': submitted && f['type'].errors }" name="type" id="type" formControlName="type" aria-label="Default select example">
                          <option value="INQUIRY">INQUIRY</option>
                          <option value="ISSUE">ISSUE</option>
                        </select>
                    <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
                        <div *ngIf="f['type'].errors['type']">type is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="type"> Priority </label>
                    <input type="text" class="form-control" id="priority" formControlName="priority" [ngClass]="{ 'is-invalid': submitted && f['priority'].errors }" aria-describedby="priority" placeholder="Enter priority" [(ngModel)]="ticket.priority" name="priority">
                    <div *ngIf="submitted && f['priority'].errors" class="invalid-feedback">
                        <div *ngIf="f['priority'].errors['required']">priority is required</div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="satisfaction">Satisfaction</label>

                    <div class="rate"   >
                        <input type="radio"  [(ngModel)]="ticket.satisfaction" formControlName="satisfaction" id="star5" name="satisfaction" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" [(ngModel)]="ticket.satisfaction" formControlName="satisfaction" id="star4" name="satisfaction" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" [(ngModel)]="ticket.satisfaction" formControlName="satisfaction" id="star3" name="satisfaction" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" [(ngModel)]="ticket.satisfaction" formControlName="satisfaction" id="star2" name="satisfaction" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" [(ngModel)]="ticket.satisfaction" formControlName="satisfaction" id="star1" name="satisfaction" value="1" />
                        <label for="star1" title="text">1 star</label>
                      </div>
    
                    <div *ngIf="submitted && f['satisfaction'].errors" class="invalid-feedback">
                        <div *ngIf="f['satisfaction'].errors['required']">satisfaction is required</div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>

               

                
            </form>

            <!-- card end// -->


            <!-- card end// -->



        </section>
        <!-- content-main end// -->
        <footer class="main-footer font-xs ">
            <div class="row pb-30 pt-15 ">
                <div class="col-sm-6 ">
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    &copy; Nest - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6 ">
                    <div class="text-sm-end ">All rights reserved</div>
                </div>
            </div>
        </footer>
    </main>

</body>