<main class="main pages mb-80">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-3">
                      <div class="breadcrumb">
                        <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                        <span></span> Events <span></span>
                    </div>
                    <br>
                        <h1 class="mb-15">Events</h1>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="page-content pt-50">
      <div class="container">
    <div class="row vendor-grid col-lg-12 mb-40">
      <!-- .product-cart-wrap .product-badges span.hot {
  background-color: #f74b81;
}

.product-cart-wrap .product-badges span.new {
  background-color: #3BB77E;
}

.product-cart-wrap .product-badges span.sale {
  background-color: #67bcee;
}

.product-cart-wrap .product-badges span.best {
  background-color: #f59758;
}-->
                    <div *ngFor="let event of events" class="col-lg-3 col-md-6 col-12 col-sm-6">
                        <div class="vendor-wrap mb-40">
                            <div class="vendor-img-action-wrap">
                                <div class="vendor-img">
                                    <a href="vendor-details-1.html">
                                      <img style="width: 150%; height: 150%;" class="default-img" [src]="'http://localhost:8080/uploads/' + event.image" alt="" />
                                    </a>
                                </div>

                                <div class="product-badges product-badges-position product-badges-mrg">
                                  <ng-container
                    *ngTemplateOutlet="checkEventType(event.type) ? enligne : presentiel ; context: { passdata:event}">
                  </ng-container>
                  <ng-template #enligne let-info="passdata">
                    <span style="text-align:center" class="sale">{{ info.type }}</span>
                  </ng-template>
                  <ng-template #presentiel let-info="passdata">
                    <span style="text-align:center" class="new">{{ info.type }}</span>
                  </ng-template>

                                </div>

                            </div>
                            <div class="vendor-content-wrap">
                                <div class="d-flex justify-content-between align-items-end mb-30">
                                    <div>
                                        <div class="product-category">
                                            <span class="text-muted">{{ event.date | date: 'EEEE MM LLLL yyyy' }}</span>
                                        </div>
                                        <h4 class="mb-5"><a >{{ event.titre }}</a></h4>
                                        <div class="product-rate-cover">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" [style]="'width:'+(event.rate/5)*100+'%'"></div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> ({{event.rate}})</span>
                                            <br>
                                            <span class="font-small total-product">{{event.prix}} DT</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="mb-20">
                                        <span class="font-small total-product">{{ numParticipantsMap.get(event.id) }} Places Left  </span><br>
                                        <span class="font-small" *ngIf="isUserParticipantsMap.get(event.id)"> You Participate in this event</span>
                                    </div>

                                </div>

                                <a  class="btn btn-sm" routerLink="/event/{{event.id}}">More Info <i class="fi-rs-arrow-small-right"></i></a>
                            </div>
                        </div>
                    </div>






                </div>
                </div>
                </div>
</main>
